{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": false,
    "semi": true,
    "endOfLine": "lf",
    "options.editorconfig": true,
    "astroAllowShorthand": false,
    "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte", "prettier-plugin-stylus"],
    "overrides": [
        {
            "files": ["*.ts", "*.js", "*.mjs"],
            "options": {
                "singleQuote": true
            }
        },
        {
            "files": ["*.styl"],
            "options": { "trailingComma": "all" }
        }
    ]
}
