{
    "printWidth": 120,
    "useTabs": false,
    "tabWidth": 2,
    "singleQuote": false,
    "semi": true,
    "endOfLine": "lf",
    "options.editorconfig": true,
    "astroAllowShorthand": false,
    "overrides": [
        {
            "files": [".prettierrc", "*.json"],
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        }
    ]
}
