@font-face
  font-family 'Zilla Slab'
  font-style normal
  font-display swap
  font-weight 400
  src url(@fontsource/zilla-slab/files/zilla-slab-latin-400-normal.woff2) format('woff2')
  unicode-range U+0020-007E

@font-face
  font-family 'Zilla Slab'
  font-style normal
  font-display swap
  font-weight 700
  src url(@fontsource/zilla-slab/files/zilla-slab-latin-700-normal.woff2) format('woff2')
  unicode-range U+0020-007E

:root
  --font-serif 'Zilla Slab', ui-serif, serif
