@font-face
  font-family 'Inter'
  font-style normal
  font-display swap
  font-weight 400
  src url(@fontsource/inter/files/inter-latin-400-normal.woff2) format('woff2')
  unicode-range U+0020-007E, U+00B0-00B1, U+00B5, U+2018-201F, U+2103

@font-face
  font-family 'Inter'
  font-style normal
  font-display swap
  font-weight 700
  src url(@fontsource/inter/files/inter-latin-700-normal.woff2) format('woff2')
  unicode-range U+0020-007E, U+00B0-00B1, U+00B5, U+2018-201F, U+2103

:root
  --font-sans 'Inter', ui-sans-serif, system-ui, -apple-system, sans-serif, 'Apple Color Emoji', 'Noto Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
