:root
  --golden-ratio 1.618
  --text-size-sm 1rem
  --text-size-md 1.125rem
  --text-size-lg 1.25rem
  --text-size-xl var(--text-size-lg)
  --text-line-height-sm calc(var(--text-size-sm) * var(--golden-ratio))
  --text-line-height-md calc(var(--text-size-md) * var(--golden-ratio))
  --text-line-height-lg calc(var(--text-size-lg) * var(--golden-ratio))
  --text-line-height-xl calc(var(--text-size-xl) * var(--golden-ratio))
