:where(*)
  padding-left 0
  padding-right 0
  padding-top 0
  padding-bottom 0
  margin-left 0
  margin-right 0
  margin-top 0
  margin-bottom 0
  box-sizing border-box
  font-size 16px

:where(button)
  border none
  background-color transparent

:where(body)
  --max-content-width 768px

  min-height 100dvh
  height 100dvh
  max-width var(--max-content-width)
  margin-left auto
  margin-right auto

:where(svg)
  display block
