$sm-width = 320px

:root
  --sm-width $sm-width
  --md-width $sm-width * 2 // 640px
  --lg-width $sm-width * 3 // 960px
  --xl-width $sm-width * 4 // 1280px

  --primary-color rgba(244, 244, 248, 100%)
  --main-color rgba(4, 4, 8, 100%)
  --sub-color rgba(224, 224, 255, 80%)
  --link-color rgba(96, 96, 255, 100%)
  --active-color rgba(255, 96, 96, 100%)
