---
import MainTemplate from "@layouts/MainTemplate.astro";
import "@styles/font-sans.styl"
---

<MainTemplate>
  <p>Under the development</p>
  <a href="/astrobook">Astrobook</a>
  <a href="/preview">Markdown Preview</a>
</MainTemplate>
