---
import MainTemplate from "@layouts/MainTemplate.astro";
---

<MainTemplate>
  <p>Under the development</p>
  <div>
    <p class="font-sans">This is sans font. これはサンズ体フォントです</p>
    <p class="font-serif">This is serif font. これはセリフ体フォントです</p>
    <p class="font-mono">This is mono font. これは等幅フォントです</p>
  </div>
</MainTemplate>
