---
export interface Props {
  href: string;
}

const {href} = Astro.props;
---

<a class="m-auto border border-solid rounded-md px-1 py-2" {href}>
  <slot />
</a>

<style lang="stylus">
  a
    display block
    text-decoration none
    width 5rem
</style>
