---
import Head from "@layouts/Head.astro";
import Menu from "@components/Menu.svelte";

import "@styles/main.styl";
---

<html lang="en">
  <Head />
  <body>
    <Menu client:load />
    <slot />
  </body>
</html>
